
@{
    ViewData["Title"] = "Inicio";
}

<h1>Bienvenido</h1>

<div class="mb-3">
    <a class="btn btn-secondary" asp-action="Editar">Actualizar datos</a>
    <a class="btn btn-danger" asp-action="Borrar">Borrar</a>
</div>
